<ion-header  [translucent]="true">
  <!-- <ion-toolbar> -->
    <!-- <ion-title> -->
      <nav class="navbar bg-secondary">
        <div class="container-fluid">
          <span><img src="https://img.icons8.com/material/30/undefined/shopping-cart--v1.png"/></span>
          <h3 class="design-pg text-center">INTERIOR WORKS</h3>
          <span class="navbar-text"><img src="https://img.icons8.com/material/30/undefined/user-male-circle--v1.png"/></span>
        </div>
      </nav>
    <!-- </ion-title> -->
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/next page 1.jpg" alt="first-page">
      <ion-card-title>Discover your inner designer</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Be faithful to your own taste, because nothing you really like is ever out of style.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/next page 2.jpg" alt="second-page">
      <ion-card-title>Share Before and After Images</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <p>The essence of interior design will always be about people and how they live. ...</p> 
    <p>A design isn't finished until someone is using it.</p> 
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="secondary" routerLink="/cart">NEXT</ion-button>
  <!-- <ion-button expand="full" color="secondary" routerLink="/cart">NEXT</ion-button> -->
</ion-content>